h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $primary-font;
}

body {
  background-color: $body-color;
}

main {
  background-color: $white;
}

.entry-content,
.page-title {
  padding-top: 80px;
  margin: 0;
}
