html {
  scroll-behavior: smooth;
}

html,
body,
main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $primary-font;
}

body {
  background-color: $body-color;
}

main {
  padding-top: ($header-padding);
  background-color: $white;
  position: relative;
  z-index: 0;
}

main {
  padding-top: 360px;
  padding-bottom: 50px;
}

@include media('medium-large') {
  .entry-content,
  .page-title,
  main {
    padding-top: 100px;
    margin: 0;
  }
}
