/****************
    COMMENTS
****************/

#comments {
  max-width: 900px;
  margin-top: 14vh;

  textarea {
    overflow: auto;
    width: 90%;
    margin: auto;
  }
  box-sizing: border-box;
  padding: 0 20px;

  p {
    label {
      width: 100%;
      display: block;
    }
  }

  a {
    color: $CB-ACCENT;
  }

  article {
    border: solid 1px $CB-BLACK;
    padding: 20px;
    margin: 20px 0;
  }

  ol {
    &.comment-list {
      padding: 0;
    }

    li {
      list-style-type: none;
    }
  }
}
