// !!! move to home?
.promotions {
  position: relative;
  @include flex-center();
  margin-top: 8vh;

  &__p {
    color: #59c371;
  }

  &__button {
    cursor: pointer;
    font-size: 20px;
    border: solid 1px #9b9999;
    width: 50%;
    height: 48px;
    box-shadow: 3px 1px 8px #e3e3e3;

    &:hover {
      border: solid 1px $orange-geraldine;
    }

    button {
      @include box(100%);
      border: none;
    }
  }
}

.newsletter {
  @include flex-center();
  flex-wrap: wrap;
  border: solid 1px #e3e3e3;
  width: 80%;
  color: $grey-cod;
  padding: 0 0 30px 0;

  header {
    @include flex-center();
    width: 100%;
    border-bottom: solid 1px #e3e3e3;

    img {
      @include box(40%);
      padding: 10px;
    }
  }

  h2,
  p {
    width: 100%;
    text-align: center;
  }

  p,
  .tnp-field label {
    font-family: $accent-font;
  }

  input {
    background-color: $white;
  }

  // !!! Make the promotional class extend the before code
  form {
    @include flex-center();
    flex-wrap: wrap;

    input,
    .tnp-field {
      width: 100%;
      margin: 0 20%;
      background-color: $white !important;
    }

    input[type='email'] {
      height: 35px;
      border: solid 1px #9b9999 !important;
      font-family: $accent-font;
    }

    .tnp-privacy,
    .tnp-privacy-field {
      margin: 0;

      label {
        width: 90%;
      }
    }

    .tnp-submit {
      @extend .button;
      font-size: 20px !important;
      background: $white !important;
      color: $grey-cod !important;
      border: solid 1px #9b9999 !important;
      margin: auto !important;
      width: 100% !important;
      box-shadow: 3px 1px 8px #e3e3e3 !important;

      &:hover {
        border: solid 1px $orange-geraldine !important;
      }
    }
  }
}

@include media('medium') {
  .newsletter {
    width: 50%;
    position: sticky;
    top: 125px;
  }

  .promotions {
    margin-top: 0;
  }
}
