/*-----------------------------------------------------------------------------
# FOOTER
-----------------------------------------------------------------------------*/
footer {
  background: $black; //Keeps background black regardless of max width;
}

.footer__main {
  width: 100%;
  color: tint($accent-color-1, 80%);
  margin: auto;
  max-width: $max-width;
  //Subscribe
  .tnp-widget-minimal .tnp-submit {
    color: $text-color !important;
    background: tint($accent-color-1, 40%) !important;
    border: 3px solid $white !important;
    font-size: 24px !important;
    padding: 0 !important;
    margin-top: 5px !important;
  }
  .tnp-email {
    background: black !important;
    color: tint($accent-color-1, 80%) !important;
    font-family: $accent-stack;
  }
  .cfw-widget {
    margin: 20px 65px;
  }

  #footer-widget-area {
    margin-bottom: 15px;
  }
  //Logo
  .footer__logo {
    width: 70%;
  }
  //Disclaimer
  .footer__disclaimer-h1 {
    font-family: $accent-stack;
  }

  .footer__disclaimer-p {
    font-family: $primary-stack;
    margin: 0 20px;
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
}

.footer__icon {
  display: none;
}
//Footer bottom
.footer__site-info {
  margin: 0;
  background: url("https://thecodebytes.com/wp-content/uploads/2020/05/top-nav-background.svg"), #312c2c;

  .footer__copyright {
    font-size: 1.4rem;
    color: $white;
    font-family: $primary-stack;
    margin: 1.3rem 0;

    a {
      font-size: 1.7rem;
      font-family: $primary-stack;
      color: tint($accent-color-1, 40%) !important;
    }
  }
}

/*================ Medium ================*/
@include respond-to('medium') {
  .footer__icon {
    display: block;
    bottom: -19px;
  }

  .footer__copyright {
    font-size: 18px;

    a {
      font-size: 20px;
    }
  }
}



/*










/* Useless







*/
