.footer-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 250px;

  #footer-section-1,
  #footer-section-2,
  #footer-section-3 {
    width: 100%;
    //height: 100%;

    border: solid 1px teal;
  }
}

.footer-bottom {
  width: 100%;
  background: white;
  text-align: center;
}

@include media('medium') {
  .footer-sections {
    flex-direction: row;
  }
}
