/* Header */

/* MOBILE */

#masthead {
  position: absolute;
  top: 200px;
}

.masthead-shim {
  height: 0;
  width: 0;
}

.custom-logo {
  @include position(absolute, -150px 0 null 0);
  @include margin(null auto);
}

// Header Div

/* Navigation */

.nav-menu {
  a {
    color: $CB-BLACK;
  }

  .active > a,
  a:hover {
    color: $CB-ACCENT;
  }
}

// Main Nav
.main-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  //display: none; // !!! Remove me

  a {
    font-size: 18px;
  }

  // Search Form
  #search-form {
    font-family: $accent-font;
    display: flex;
    height: 24px;

    #s {
      width: 125px;
      font-size: 10px;
      padding-top: 6px;
    }

    #searchsubmit {
      background: none;
      border: solid 1px #9b9999;
      border-left: none;
      font-size: 14px;
    }
  }

  #search-form,
  .menu-main-nav-container li {
    margin: 0 40px 0 0;
  }

  a {
    font-family: $primary-font;
    font-weight: $bold;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 100%;

    ul {
      box-shadow: 4px 3px 9px #d3d2d2;
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          display: block;
          left: auto;
        }
      }

      a {
        width: 200px;
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
      padding: 15px;
      padding-top: 35px;
    }
  }

  li {
    position: relative;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

// Small menu
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@include media('medium') {
  #masthead {
    position: fixed;
    display: flex;
    background: $header-bg-color;
    height: 60px;
    width: 100%;
    box-shadow: 5px -1px 13px #d3d2d2;
  }

  .masthead-shim {
    height: 60px;
    width: 100%;
  }

  // Logo
  .custom-logo {
    position: inherit;
    width: 150px;
    height: auto;
    margin: 7px 0 0 20px;
  }
}

@include media('medium') {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

@include media('medium-large', max) {
  .main-navigation {
    a {
      font-size: 12px;
    }
  }
}

// Mobile changes
