// Colors
$white: #ffffff;
$white-alabaster: #fafafa;
$grey-cod: #1d1d1d;
$black-mine-shaft: #343434;
$orange-geraldine: #f89e86;
// Primary Colors
$CB-BLACK: $black-mine-shaft;
$CB-ACCENT: $orange-geraldine;

// Based
$body-color: $grey-cod;

// Font Families
$primary-font: 'PT Sans', sans-serif;
$accent-font: 'OCRA', sans-serif;

// Font Weights
$bold: 700;
$normal: 400;

// Header
$header-bg-color: $white-alabaster;
