/*-----------------------------------------------------------------------------
# MAIN
-----------------------------------------------------------------------------*/
.home__post-section {
  box-sizing: border-box;
  text-align: center;
  width: 80%;
  padding: 0 30px;
  border-bottom: 1px solid black;
}

.home__header-titles {
  text-align: center;
  font-size: 3rem;
  font-family: $primary-stack;
  font-weight: 200;
  color: $black;
  border-bottom: 1px solid tint($black, 20%);
  width: 100%;
  margin: 50px auto 50px auto;
}

.home__blog-link {
  margin: 50px auto 150px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid $black;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0.5px 2px 1px $black;
  &:hover {
    background: shade($white, 80%);
    box-shadow: none;
  }
  a {
    width: 100%;
    font-family: $primary-stack;
    font-size: 2rem;
    text-transform: lowercase;
  }
}
@include respond-to('medium') {
  .home__header-titles {
    width: 50%;
  }
}
