/*-----------------------------------------------------------------------------
# SINGLE POSTS
-----------------------------------------------------------------------------*/
.entry-content {
  padding: 1rem 3rem;
  //newsletter page
  .tnp.tnp-subscription {
    margin: 55px auto;
  }
}

.entry-title {
  padding: 2rem 3rem 0;
  font-size: 4rem;
}

h1.single__title {
  position: relative;
  display: flex;
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: shade($white, 10%);
  font-family: $primary-stack;
  font-weight: 300;
  font-size: 7rem;
  z-index: 9;
  background: #0000008c;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: auto;
  font-size: 2rem;
}

.entry-content {
  background: $white;
  text-align: left;

  h1 {
    font-size: 3.5rem;
    margin: 40px 0 15px;
  }

  h2 {
    font-size: 3rem;
    margin: 30px 0 15px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 2.5rem;
    margin: 40px 0 15px;
  }

  p {
    font-size: 1.5rem;
  }

  div {
    margin: 25px 0;
  }

  a {
    font-size: 1.5rem;
    margin: 15px 0;
  }

  iframe {
    width: 100%;
    border-radius: 4px;
    border: 3px solid black;
  }

  img {
    width: 100%;
    height: auto;
    margin: 15px 0 35px;
    box-shadow: 6px 12px 4px #9c9c9c;
    border-radius: 10px;
    border: 3px solid black;
  }
}
//TV effect for title of post

.tv {
  position: absolute;
  left: 0;
  top: 0; //same height as header
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  overflow: hidden;
  background: radial-gradient(ellipse at center, #00e7ff0a 0%, #00000014 60%, rgba(0, 0, 0, 0.45) 100%), repeating-linear-gradient(0deg, #32b18e12 0px, #00000087 1px, rgba(0, 0, 0, 0.25) 3px);
}

.single__header {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.single__entry-meta {
  @include position(absolute, null null 0 null);
  //height: auto;
  padding: 2px 0;
  background: tint($black, 5%);
  color: $white;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  font-family: $primary-stack;
  font-size: 1.5rem;
  z-index: 9;
  text-align: center;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 45px;

  .single__meta_title {
    @include centered();
    top: 8px;
    font-family: $primary-stack;
    font-size: 1.6rem;
    width: 100%;
    //height: 10px;
  }

  .byline,
  .single__posted_on {
    display: none;
  }
}
//get rid of first posted time stamp

time.entry-date.published {
  display: none;
}

.single__post {
  width: 100%;
  height: 100%;
  //other styling is inline @ content.php
}

.post-thumbnail {
  height: 100vh;
  width: auto;
}

.entry-footer {
  height: 40px;
  display: flex;
  align-items: center;
  font-family: $accent-stack !important;
  font-size: 1.3rem;

  a {
    padding: 0 5px;
    color: white;
    font-family: $secondary-stack;
    font-size: 1.5rem;
  }
}

span.cat-links {
  padding: 0 0 0 20px;
}
/*================ Tablet ================*/
@include respond-to('medium') {
  h1.single__title {
    font-size: 4rem;
  }
  .entry-content,
  .entry-title,
  footer.entry-footer {
    width: 80%;
    margin: auto;

    img {
      width: 70%;
      margin: 15px 15%;
    }
  }

  .single__entry-meta {
    .single__posted_on,
    span.byline {
      display: block;
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }

    .single__posted_on {
      padding-top: 17px;
    }
  }
}

.single__header {
  h4 {
    a {
      font-family: $secondary-stack !important;
    }
  }

  .entry-footer {
    border-radius: 0 0 10px 10px;
  }

  .entry-content {
    img {
      width: 80%;
      margin: 10%;
    }

    p {
      text-align: left;
    }
  }

  .single__post {
    img {
      margin: auto;
    }
  }

  .byline {
    @include position(absolute, null 0 null null);
    font-family: $accent-stack;
    font-size: 0.8rem;
  }

  .post-thumbnail {
    display: flex;
    height: 100vh;
    width: auto;
  }

  .single__posted_by {
    float: right;
    font-family: $accent-stack;
    font-size: 0.8rem;

    a {
      color: shade($white, 10%);
      padding-right: 10px;
    }
  }
}
/*Comments in Compoenents Folder*/
