/* Category Page */

.page-header {
  font-size: 20px;
  text-align: center;
  font-family: $accent-font;
  margin-bottom: 40px;
  max-width: $max-width;
}

.categories__article-container {
  padding-top: 0;
  @include flex-center();
}

.entry-content {
  height: 100vh;
}

.categories__article {
  margin: 0;
  width: 75%;
  margin-bottom: 40px;
}

@include media('medium') {
  .page-header {
    font-size: 20px;
    text-align: left;
    font-family: $accent-font;
    margin: 70px;
  }

  .category__all-posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;

    article {
      width: 33%;
    }
  }

  .category-archive {
    .categories__article {
      display: flex;
      width: 75%;
    }
  }
}

.navigation {
  text-align: center;
  width: 100%;
}
.nav-links {
  background: $white;
  border: solid 1px $grey-dust;
  box-shadow: 0px 1px 8px #e3e3e3;
  font-family: $primary-font;
  font-weight: $bold;
  color: $black-mine-shaft;
  text-align: center;
  padding: 1em;
  height: 100%;

  a {
    font-size: 22px;
    font-family: $primary-font;
    text-decoration: none;
    color: $black-mine-shaft;
    padding: 1em;
  }
}

/* About Page */

#post-50 {
  @include flex-center();
  flex-wrap: wrap;
  padding: 5vh 40px 0 40px;

  .entry-header {
    text-align: left;
    width: 100%;
  }

  .entry-title {
    display: flex;
    font-family: $accent-font;
  }

  .entry-content {
    width: 100%;
    padding: 0;
    height: 60vh;

    div {
      @include flex-align(center, center);
      flex-wrap: wrap;
      text-align: left;
      width: 100%;
    }

    div:last-child {
      @include flex-align(left, center);
    }

    p {
      width: 100%;
    }
  }
}

@include media('medium') {
  #post-50 {
    .entry-content {
      @include flex-center();
    }
  }
}
