/* Category Page */

.page-header,
.page-title {
  font-size: 20px;
  text-align: center;
  font-family: $accent-font;
  margin-bottom: 40px;
  max-width: $max-width;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.categories__article-container {
  padding-top: 0;
  @include flex-center();
}

.entry-content {
  height: 100vh;
}

.categories__article {
  margin: 0;
  width: 75%;
  margin-bottom: 40px;
}

@include media('medium') {
  .page-header,
  .page-title {
    font-size: 36px;
    text-align: center;
    font-family: $accent-font;
  }

  .category__all-posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;

    article {
      width: 33%;
    }
  }

  .category-archive {
    .categories__article {
      display: flex;
      width: 75%;
    }
  }
}

.navigation {
  text-align: center;
  width: 100%;
}

.nav-links {
  background: $white;
  border: solid 1px $grey-dust;
  box-shadow: 0px 1px 8px #e3e3e3;
  font-family: $primary-font;
  font-weight: $bold;
  color: $black-mine-shaft;
  text-align: center;
  padding: 1em;
  height: 100%;

  a {
    font-size: 22px;
    font-family: $primary-font;
    text-decoration: none;
    color: $black-mine-shaft;
    padding: 1em;
  }
}

/* About Page */

#post-50 {
  @include flex-center();

  flex-wrap: wrap;

  .entry-header {
    text-align: left;
    width: 80%;
    font-size: 20px;
  }

  .entry-title {
    display: flex;
    font-family: $accent-font;
    font-weight: 300;
  }

  .entry-content {
    width: 100%;
    padding: 0;
    height: 100%;

    div {
      @include flex-align(center, center);
      flex-wrap: wrap;
      text-align: left;
      width: 100%;
    }

    div:last-child {
      @include flex-align(left, center);
    }

    p {
      width: 100%;
    }
  }
}

@include media('medium') {
  #post-50 {
    .entry-content {
      @include flex-align(center, center);
      height: 60vh;
      width: 90%;
    }
  }
}

// !!! Move me to categories component
.categories__article {
  @include flex-center();
  @include box(100%, 250px);
  position: relative;
  margin: 25px 25px 50px 25px;
  text-decoration: none;
  color: $white;
  font-family: $primary-font;
  font-weight: $bold;
  border-radius: 4px;
  box-shadow: 5px -1px 6px $header-shadow;

  &:hover {
    box-shadow: none;

    .category__main {
      border: $CB-ACCENT solid 4px;
    }
  }

  .category__main {
    @include flex-center();
    @include box(100%);
    border-radius: 3px;
    font-size: 23px;
    padding: 0 1em;
  }

  .category__footer {
    @include position(absolute, null 0 0 0);
    @include flex-center();
    @include box(100%, 35px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.6012780112044818) 45%
    );
    font-family: $accent-font;
    font-size: 12px;
    border-top: solid 1px #ffffff40;
  }
}

.search-queries {
  text-align: center;
  width: 85%;
  font-family: $accent-font;
  border-bottom: solid 1px #e3e3e3;
  margin-bottom: 20px;
  padding-bottom: 20px;

  a {
    color: $black-mine-shaft;
    padding: 25px;

    &:hover {
      color: $CB-ACCENT;
    }
  }
}

/* ABOUT */

.about {
  font-family: $primary-font;
  text-align: center;
  justify-content: center;

  img {
    @include box(70%, auto);
  }

  h3 {
    text-align: left;
    padding: 0 1em;

    width: 100%;
    padding-top: 30px;
    font-size: 30px;
  }

  p {
    padding: 0 2em;
    margin: 7px 0;
    font-family: $primary-font;
    text-align: left;
    font-size: 20px;

    &:nth-child(7),
    &:nth-child(8) {
      text-align: left;
    }

    span {
      color: $CB-ACCENT;
    }
  }

  a {
    color: $black;
    text-decoration: none;
    margin: 10px 0;
    padding-right: 10px;
    text-align: center;
    width: 100%;

    &:first-child {
      padding-top: 30px;
    }

    &:hover {
      color: $CB-ACCENT;
    }

    button {
      padding: 7px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        border: solid 1px $CB-ACCENT;
      }
    }
  }
}

@include media('medium') {
  .about {
    p,
    h3 {
      text-align: left;
      padding: 0;
    }

    a {
      width: auto;

      button {
        padding: 0.75em;
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }
}

/* SINGLE */

.article {
  article {
    display: flex;
    width: 30%;

    img {
      width: 100%;
    }
  }
  @include flex-center();

  #sidebar-1,
  #sidebar-2 {
    width: 0;
  }
}

@include media('medium') {
  .article {
    article {
    }

    #sidebar-1,
    #sidebar-2 {
      display: flex;
      width: 30%;
    }
  }
}
