@import 'Abstracts/_theme-header';

// TO BE REMOVED
section#recent-posts-3,
div#ss-floating-bar,
footer#colophon,
a.post-edit-link,
.entry-title {
  display: none;
}

main {
  height: 150vh;
}

/* VENDORS */
@import 'Vendors/bourbon/bourbon';

/* Abstract */
@import 'Abstracts/mixins';
@import 'Abstracts/variables';
@import 'Abstracts/_fonts';

/* Base */
@import 'Base/accessibility';
@import 'Base/base';
@import 'Base/normalize';

/* Layout */
@import 'Layouts/header';
