@import 'Abstracts/_theme-header';

// TO BE REMOVED
section#recent-posts-3,
div#ss-floating-bar,
a.post-edit-link,
.entry-title,
#wpadminbar {
  display: none;
}

/* VENDORS */
@import 'Vendors/bourbon/bourbon';

/* Abstract */
@import 'Abstracts/mixins';
@import 'Abstracts/variables';
@import 'Abstracts/_fonts';

/* Base */
@import 'Base/accessibility';
@import 'Base/normalize';
@import 'Base/base';

/* Layout */
@import 'Layouts/header';
@import 'Layouts/footer';

/* Components */
@import 'Components/buttons';

/* Pages */
@import 'Pages/home';

@import 'dump';
