h1.entry-title {
    text-align: left;
}

footer.entry-footer {
  margin-bottom: 50px !important;

}

.entry-content a {
  //font-size: 1rem ;
  margin: 15px 0;
}



/* NEWSLETTER */

.tnp-subscription input.tnp-submit {
  width: 100% !important;
}

.tnp-subscription {
  text-align: left;
  //margin: 0 !important;
  form {
    //margin-right: auto;
  }
}

.tnp-field label {
  font-size: 1.5rem !important;
}

.tnp-field-privacy {
  label {
    font-size: 1.1rem !important;
  }
}
