/*-----------------------------------------------------------------------------
# KEYFRAMES (only available in sass)
-----------------------------------------------------------------------------*/

/*================ Mobile Menu ================*/

//Mobile height dropdown animation
@keyframes mobile-dropdown {
  0% {height: 50px;}
  100% {height: calc(100vh - 158px);}
}

//Mobile height pullup animation
@keyframes mobile-pullup {
  0% {height: calc(100vh - 160px);}
  100% {height: 50px;}
}

//Drops the list down visually
@keyframes li-dropdown {
  0% {margin-top: -1200px;}
  100% {margin-top:0;}
}

//Pulls the dropdown list back up visually
@keyframes li-pullup {
  0% {margin-top:0;}
  100% {margin-top:-1300px;}
}

/*================ Header Banner ================*/

//Fades out the banner when the close button is pressed
@keyframes fade-close-banner {
  0% {opacity: 1;}
  100% {opacity: 0;display: none;}
}
