/*-----------------------------------------------------------------------------
# SIDEBARS
-----------------------------------------------------------------------------*/
//Check variables page to change sidebar sizes

#sidebar-left,
#sidebar-right {
  display: none;
}

.widget.widget_recent_entries, .widget.widget_categories {
  width: 100%;
}

#sidebar-right {
  margin: 200px 15px 0 0;
  .widget-title {
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
    font-family: $primary-stack;
    font-weight: 100;
    margin: 0;

  }

  ul {
    border: 1px solid black;
    padding: 12px;
    border-radius: 3px;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }
}

#sidebar-left {
  float: left;
}

#sidebar-right {
  float: right;
}

a.ss-copy-color,
a.ss-envelope-color,
a.ss-facebook-color,
a.ss-linkedin-color,
a.ss-twitter-color {
  background: black;

  &:hover {
    background: shade($accent-color-2, 15%);
  }
}

p.logged-in-as {
  a {
    font-family: $secondary-stack !important;
    padding-right: 10px;
  }
}
@include respond-to('medium-large') {
  #sidebar-left,
  #sidebar-right {
    display: inline-block;
    width: $sidebar-width;
    overflow: hidden; //if you want to hid these bad boys
  }
}
