/*** 
  Landing 
  *************************************/

/* General & Mobile */

.tagline,
.social-container,
.landing__title-desktop {
  display: none;
}

.landing__container,
.landing__buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.landing__container {
  padding-bottom: 6vh;
  height: 60vh;
  align-items: center;
  justify-content: center;

  #landing__button--1,
  #landing__button--2 {
    position: relative;
    height: 60px;
    width: 225px;
    font-size: 22px;
    cursor: pointer;
    background: transparent;
    transition: 1s ease-in-out;
    outline: none;

    svg {
      position: absolute;
      top: -2px;
      left: -2px;
      width: 102%;
      height: 107%;
      fill: none;
      stroke-dasharray: 150 480;
      stroke-dashoffset: 150;
      transition: 1s ease-in-out;

      polyline {
        width: 100%;
        height: 100%;
      }
    }

    span {
      color: $black;
      font-size: 18px;
      font-weight: 100;
    }

    &:hover {
      transition: 1s ease-in-out;
      background: transparent;

      svg {
        stroke-dashoffset: -480;
      }
    }
  }

  #landing__button--1 {
    margin-bottom: 15px;
    border: solid 1px $orange-geraldine;
  }

  #landing__button--2 {
    margin-bottom: 35px;
  }

  .landing__about {
    font-family: $accent-font;
    font-size: 12px;
    color: $black-mine-shaft;
  }
}

@include media('medium-large') {
  .tagline,
  .social-container,
  .landing__banner,
  .landing__buttons,
  .landing__title-desktop {
    display: flex;
  }

  .landing__container,
  .landing__buttons {
    justify-content: center;
  }

  .landing__banner {
    @include flex-align(space-between, flex-end);
    @include margin(null auto);
    width: 99%;
    max-width: $max-width;

    .tagline {
      font-family: $accent-font;
      font-size: 9.5px;

      span {
        padding-left: 5px;
        color: $CB-ACCENT;
      }
    }

    .social-container {
      justify-content: space-between;
      width: 100px;
      padding-right: 50px;
    }
  }

  .landing__container {
    height: 75vh;

    .landing__title-desktop {
      font-family: $accent-font;
      font-size: 62px;
      font-weight: 100;
      color: $CB-BLACK;
      text-shadow: -3px 4px 1px #d1d1d1;
    }

    .landing__buttons {
      flex-direction: row;
      justify-content: space-between;
      width: 30%;
      max-width: 350px;
    }

    #landing__button--1,
    #landing__button--2 {
      height: 45px;
      width: 150px;

      svg {
        stroke: $CB-ACCENT;
      }
    }

    a {
      #landing__button--1,
      #landing__button--2 {
        font-size: 16px;
        font-weight: $bold;
      }
    }

    .landing__about {
      margin-top: 50px;
    }
  }
}

.home__buffer {
  width: 100%;
  height: 20vh;
}

/*** 
  Top Articles & Latest Articles
  *************************************/

.home__articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .categories__article:nth-child(n + 4) {
    display: none;
  }

  button {
    padding: 0.5em;
    width: 150px;
    font-size: 18px;
  }
}

.home__section-article {
  max-width: $max-width;
  h1 {
    text-align: center;
  }
}

// !!! Move me to categories component
.categories__article {
  @include flex-center();
  @include box(100%, 250px);
  position: relative;
  margin: 25px 25px 50px 25px;
  text-decoration: none;
  color: $white;
  font-family: $primary-font;
  font-weight: $bold;
  border-radius: 4px;
  box-shadow: 5px -1px 6px $header-shadow;

  &:hover {
    box-shadow: none;

    .category__main {
      border: $CB-ACCENT solid 4px;
    }
  }

  .category__main {
    @include flex-center();
    @include box(100%);
    border-radius: 3px;
    font-size: 23px;
    padding: 0 1em;
  }

  .category__footer {
    @include position(absolute, null 0 0 0);
    @include flex-center();
    @include box(100%, 35px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.6012780112044818) 45%
    );
    font-family: $accent-font;
    font-size: 12px;
    border-top: solid 1px #ffffff40;
  }
}

@include media('medium-large') {
  .home__section-article {
    display: flex;
    flex-wrap: wrap;

    .promotional__container {
      @include flex-center();
      width: 49%;
    }
  }

  .home__section-article#latest-articles {
    flex-direction: row-reverse;
  }

  .home__articles-container,
  .home__section-article h1 {
    width: 50%;
    justify-content: space-between;
    margin-left: 10px;

    .categories__article {
      margin: 10px 0 0 0;
      border-radius: none;

      &:first-child {
        width: 100%;
        height: 400px;

        .category__main {
          font-size: 36px;
        }
      }

      &:nth-child(n + 2) {
        width: 48%;
      }
    }

    .category__main {
      border-radius: 0;
      // font-weight: normal;
    }

    .home__buttons--section {
      margin-top: 30px;
      width: 100%;
      text-align: center;
    }
  }
}
