/* General & Mobile */

.tagline,
.social-container,
.landing__title-desktop {
  display: none;
}

.landing__container,
.landing__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing__container {
  height: 40vh;
  align-items: center;

  #landing__button--1,
  #landing__button--2 {
    height: 60px;
    width: 225px;
    font-size: 22px;
  }

  #landing__button--1 {
    margin-bottom: 15px;
    border: solid 1px $orange-geraldine;
  }

  #landing__button--2 {
    margin-bottom: 35px;
  }

  .landing__about {
    font-family: $accent-font;
    font-size: 12px;
    color: $black-mine-shaft;
  }
}

@include media('medium-large') {
  .tagline,
  .social-container,
  .landing__banner,
  .landing__buttons,
  .landing__title-desktop {
    display: flex;
  }

  .landing__banner {
    justify-content: space-between;
    @include padding(7vh null null null);
    @include margin(null auto);
    width: 100%;
    max-width: $max-width;

    .tagline {
      font-family: $accent-font;
      font-size: 9.5px;

      span {
        padding-left: 5px;
        color: $CB-ACCENT;
      }
    }

    .social-container {
      justify-content: space-between;
      width: 100px;
      padding-right: 50px;
    }
  }

  .landing__container {
    height: 75vh;

    .landing__title-desktop {
      font-family: $accent-font;
      font-size: 62px;
      font-weight: 100;
      color: $CB-BLACK;
      text-shadow: -3px 4px 1px #d1d1d1;
    }

    .landing__buttons {
      flex-direction: row;
      justify-content: space-between;
      width: 30%;
      max-width: 350px;
    }

    #landing__button--1,
    #landing__button--2 {
      height: 45px;
      width: 150px;
    }

    a {
      #landing__button--1,
      #landing__button--2 {
        font-size: 16px;
        font-weight: $bold;
      }
    }

    .landing__about {
      margin-top: 50px;
    }
  }
}
