/****************
     SINGLE
****************/

.article {
  article {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: $primary-font;
    line-height: 2;

    img {
      width: 100%;
      height: auto;
      max-width: 100vw;
      display: block;
    }

    a {
      color: $CB-ACCENT;

      &:hover {
        color: tint($CB-ACCENT, 20%);
      }
    }

    header {
      box-sizing: border-box;
      padding: 0 20px;
      line-height: 1.5;
    }

    .author-and-date {
      box-sizing: border-box;
      padding: 0 20px;
      margin-top: 20px;
      img {
        @include box(30px);
        border-radius: 100%;
      }
    }

    .content {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
    }
  }
  @include flex-center();

  #sidebar-1,
  #sidebar-2 {
    width: 0;
  }
}

@include media('medium') {
  .article {
    width: 100%;

    article {
      width: 50%;
      max-width: 600px;
    }

    #sidebar-1,
    #sidebar-2 {
      display: flex;
      width: 25%;
    }
  }
}

.nav-previous {
  margin: 20px 0;
}

.nav-links {
  box-sizing: border-box;
  max-width: 71%;
  margin: auto;
  margin-top: 50px;
}

.gist {
  font-size: 16px;
  color: $CB-BLACK;
  text-align: left;
  direction: ltr;
  max-width: 91vw;
  margin: auto;
}
