/*-----------------------------------------------------------------------------
# HELPERS
-----------------------------------------------------------------------------*/

.text-align {
  text-align: center;
}

.width-100 {
  width: 100%;
  width: 100vw;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
