/*-----------------------------------------------------------------------------
# FORMS
-----------------------------------------------------------------------------*/

#{$all-text-inputs},
label {
  display: block;
  margin: 10px auto;
  width: 80%;
}

#{$all-text-inputs} {
  outline: none;
  box-shadow: 2px 1px 3px $accent-color-2;
  border: 1px solid $black;
  border-radius: 4px;
  font-family: $accent-stack;
}

#{$all-text-inputs-active} {
  outline: none;
  box-shadow: 2px 1px 3px $accent-color-2;
  border: 1px solid $black;
}

#{$all-text-inputs-focus} {
  outline: none;
  box-shadow: 2px 1px 3px $accent-color-2;
  border: 1px solid $black;
}

#{$all-text-inputs-hover} {
  outline: none;
  box-shadow: 2px 1px 3px $accent-color-2;
  border: 1px solid $black;
}

#{$all-text-inputs-invalid} {
  outline: none;
  box-shadow: 2px 1px 3px $accent-color-2;
  border: 1px solid $black;
}
