/*-----------------------------------------------------------------------------
# BASE STYLES
-----------------------------------------------------------------------------*/

html {
  font-size: 62.5%;
}

body {

}

html, body {
  height: 100%;
}

main {
  min-height: 33vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-stack;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3, h4, h5, h6 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}

a {
  @include link-colors ($link, $visited, $hover, $active)
}

p, a {
  font-family: $secondary-stack;
  font-weight: 300;
  font-size: 1rem;
}

div {
  font-family: $secondary-stack;
  font-weight: 300;
  font-size: 1.5rem;
}

#primary {
    max-width: $max-width;
    margin: auto;
}

@include respond-to('medium-large') {
  html {
    font-size: 75%;
  }
}
