/*-----------------------------------------------------------------------------
# TYPOGRAPHY
-----------------------------------------------------------------------------*/

@font-face {
    font-family: 'manaspaceregular';
    src: url('sass/base/fonts/manaspc-webfont.woff2') format('woff2'),
         url('sass/base/fonts/manaspc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
