/****************
     ABOUT
****************/

.about {
  font-family: $primary-font;
  text-align: center;
  justify-content: center;

  img {
    @include box(70%, auto);
  }

  h3 {
    text-align: left;
    padding: 0 1em;

    width: 100%;
    padding-top: 30px;
    font-size: 30px;
  }

  p {
    padding: 0 2em;
    margin: 7px 0;
    font-family: $primary-font;
    text-align: left;
    font-size: 20px;

    &:nth-child(7),
    &:nth-child(8) {
      text-align: left;
    }

    span {
      color: $CB-ACCENT;
    }
  }

  a {
    color: $black;
    text-decoration: none;
    margin: 10px 0;
    padding-right: 10px;
    text-align: center;
    width: 100%;

    &:first-child {
      padding-top: 30px;
    }

    &:hover {
      color: $CB-ACCENT;
    }

    button {
      padding: 7px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        border: solid 1px $CB-ACCENT;
      }
    }
  }
}

#post-50 {
  @include flex-center();

  flex-wrap: wrap;

  .entry-header {
    text-align: left;
    width: 80%;
    font-size: 20px;
  }

  .entry-title {
    display: flex;
    font-family: $accent-font;
    font-weight: 300;
  }

  .entry-content {
    width: 100%;
    padding: 0;
    height: 100%;

    div {
      @include flex-align(center, center);
      flex-wrap: wrap;
      text-align: left;
      width: 100%;
    }

    div:last-child {
      @include flex-align(left, center);
    }

    p {
      width: 100%;
    }
  }
}

@include media('medium') {
  #post-50 {
    .entry-content {
      @include flex-align(center, center);
      height: 60vh;
      width: 90%;
    }
  }

  .about {
    p,
    h3 {
      text-align: left;
      padding: 0;
    }

    a {
      width: auto;

      button {
        padding: 0.75em;
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }
}
