/*-----------------------------------------------------------------------------
# KEYFRAMES
-----------------------------------------------------------------------------*/

/*================ Mobile Menu ================*/

// Mobile height dropdown animation
@keyframes mobile-dropdown {
  0% {
    height: 50px;
  }
  100% {
    height: calc(90vh - 158px);
  }
}

// Mobile height pullup animation
@keyframes mobile-pullup {
  0% {
    height: calc(100vh - 160px);
  }
  100% {
    height: 50px;
  }
}

// Drops the list down visually
@keyframes li-dropdown {
  0% {
    margin-top: -10px;
  }
  100% {
    margin-top: 0;
  }
}

// Pulls the dropdown list back up visually
@keyframes li-pullup {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -1300px;
  }
}

/*================ Header Banner ================*/

// Fades out the banner when the close button is pressed
@keyframes rise-close-banner {
  0% {
    margin-top: 0;
  }
  1% {
    z-index: -1000;
  }
  100% {
    margin-top: -28px;
    z-index: -1000;
  }
}

/*================ 404 Page ================*/

@keyframes spin {
  from {
    transform: rotateY(0deg);
    moz-transform: rotateY(0deg); //Firefox
    ms-transform: rotateY(0deg); //Microsoft Browsers
  }
  to {
    transform: rotateY(360deg);
    moz-transform: rotateY(360deg); //Firefox
    ms-transform: rotateY(360deg); //Microsoft Browsers
  }
}
