/*-----------------------------------------------------------------------------
# MIXINS
-----------------------------------------------------------------------------*/

/* M1 */

@mixin centered() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* M2 */

@mixin link-colors ($link, $visited, $hover, $active) {
  color: $link;

  &:visited {
    color: $visited;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

/* M3 */

$breakpoints: (
  'smallest': 0,
  'vsmall': 280px,
  'small': 350px,
  'small-medium': 540px,
  'medium': 760px,
  'medium-large': 900px,
  'large': 1050px,
  'vlarge': 1500px,
  'largest': 2000px,
)
!default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  // If the key doesn't exist in the map
@else
  {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
